body {
  font-family: "微软雅黑", microsoft y Helvetica, Arial, sans-serif;
  margin:0;
}
.table-control{
  padding: 30px 0 20px;
}
.table-control .form-group{
  margin-right:10px;
  margin-bottom: 10px;
}
.table-control .btn{
  margin-bottom: 10px;
}
.dataTables_filter{
  display: none;
}
.table-btn{
  cursor: pointer;
  color:blue;
}
.table-btn:first-child{
  margin-right: 15px;
}